__pycache__/
*.pyc
*.pyo
*.pyd
*.log

.venv/
venv/
env/
.venvgpu/
venvgpu/

.git/
.gitignore

.idea/
.vscode/

dist/
build/
*.egg-info/

.DS_Store

# If you have local uploads/output
uploads/
output/
tmp/
